<div class="container-flex">
  <div class="container">
    <div class="row row-simulator">
      <div class="col-lg-12">
        <div class="container-button">
          <div class="image--cover text-center">
            <div class="row h-100 w-100">
              <div class="col-lg-12 my-auto">
                <i class="fa fa-crosshairs" aria-hidden="true"></i>
              </div>
            </div>
          </div>
          <button
            type="button"
            class="btn btn-primary btn-spectra"
          >
            <p class="tex">Simulador</p>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
