<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <div class="wrapper">
        <div class="row">
          <div class="col-lg-12">
            <div class="profile-picture">
              <img src="https://i.kinja-img.com/gawker-media/image/upload/gd8ljenaeahpn0wslmlz.jpg"
                class="image--cover">
              <a class="mc-btn-action">
                <i class="fa fa-camera" aria-hidden="true"></i>
              </a>
            </div>
          </div>
        </div>
        
        <div class="contact-details">
          <div class="row row-name">
            <div class="col-lg-12">
              <h3 class="profile-name tex">{{chosen.name}}</h3>
            </div>
          </div>
          <div class="row row-phone">
            <div class="col-lg-12">
              <h5 class="profile-phone tex">{{chosen.id}}</h5>
            </div>
          </div>
        </div>

        <div class="expanded-details">
          <div class="row row-odd">
            <div class="col-lg-4 text-left">
              <h5 class="detail-title tex">Correo</h5>
            </div>
            <div class="col-lg-8 text-left">
              <h5 class="detail-detail tex">{{chosen.mail}}</h5>
            </div>
          </div>
          <div class="row row-even">
            <div class="col-lg-4 text-left">
              <h5 class="detail-title tex">Celular</h5>
            </div>
            <div class="col-lg-8 text-left">
              <h5 class="detail-detail tex">{{chosen.phone}}</h5>
            </div>
          </div>
          <div class="row row-odd">
            <div class="col-lg-4 text-left">
              <h5 class="detail-title tex">Empresa</h5>
            </div>
            <div class="col-lg-8 text-left">
              <h5 class="detail-detail tex">{{chosen.company}}</h5>
            </div>
          </div>
          <div class="row row-even">
            <div class="col-lg-4 text-left">
              <h5 class="detail-title tex">Cargo</h5>
            </div>
            <div class="col-lg-8 text-left">
              <h5 class="detail-detail tex">{{chosen.job}}</h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
