.wrapper {
  padding: 2em;
}

.image--cover {
  width: 10em;
  height: 10em;
  border-radius: 50%;
  margin: 20px;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center right;
  object-position: center right;
  border: 2px solid;
  border-color: white;
}

.mc-btn-action {
  position: absolute;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  width: 54px;
  height: 54px;
  top: 60%;
  left: 2S7.5%;
  line-height: 3em;
  text-align: center;
  background-color: var(--spectra-green);
  color: #fff;
  cursor: pointer;
  z-index: 1;
  border: 2px solid;
  border-color: white;
}

.mc-btn-action i {
  color: #fff;
}

.wrapper .profile-name {
  color: white;
}

.wrapper .profile-phone {
  color: var(--spectra-green);
}

.wrapper .contact-details {
  border-bottom: 2px solid;
  border-color: var(--spectra-green);
}

.wrapper .expanded-details{
  padding: 1em;
}

.wrapper .expanded-details .row-even,
.wrapper .expanded-details .row-odd{
  padding: 0.5em;
}

.wrapper .expanded-details .row-even {
  background-color: var(--spectra-dark-grey);
}

.wrapper .expanded-details .detail-title {
  color: var(--spectra-green);
}

.wrapper .expanded-details .detail-detail{
  color: white;
}