<div class="h-100">
  <div class="">
    <div class="container">
      <div
        class="w-100"
        style="background-color: var(--spectra-dark-grey); height: 3em; border-bottom: 1px solid; border-color: var(--spectra-green); border-top-left-radius: 0.5em; border-top-right-radius: 0.5em;"
      >
        <div class="row h-100 test-orange">
          <div class="col-lg-3 text-center test-orange">
            
          </div>
          <div class="col-lg-3 test-orange"></div>
          <div class="col-lg-3 test-orange"></div>
          <div class="col-lg-3 test-orange"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="">
    <form>
      <div class="container">
        <div class="form-group">
          <textarea
            disabled
            class="form-control tex"
            id="exampleFormControlTextarea1"
            rows="9"
            style="color: white;"
          >
          Mensaje de actualizacion
          </textarea>
        </div>
      </div>
    </form>
  </div>
</div>

<!--
  


-->
