<nav class="navbar navbar-expand-lg">
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarTogglerDemo01"
    aria-controls="navbarTogglerDemo01"
    aria-expanded="false"
    aria-label="Toggle navigation"
    style="background-color: var(--spectra-green); color: white;height: 3em; width: 3em;"
  >
    <i class="fa fa-bars" aria-hidden="true"></i>
  </button>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
    <div class="row row-all">
      <div class="col-lg-1">
        <!-- 

          
        -->
        <button (click)="_toggleSidebar()">Toggle sidebar</button>
      </div>
      <div class="col-lg-5 col-logo">
        <div class="row mx-auto my-auto">
          <div class="col text-center my-auto">
            <h5 class="tex">Simuladores | Clientes</h5>
          </div>
          <div class="col text-center">
            <a class="navbar-brand" href="#">
              <img
                src="assets/img/UI_spectraAPP_LOGO_SPECTRA.png"
                width="130"
                height="30"
                alt=""
              />
            </a>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-search">
        <div class="row row-search">
          <div class="col-lg-8 my-auto text-center">
            <div class="input-group mb-3">
              <input
                type="text"
                class="form-control"
                placeholder="Username"
                aria-label="Username"
                aria-describedby="basic-addon1"
              />
              <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">
                  <i class="fa fa-search" aria-hidden="true"></i>
                </span>
              </div>
            </div>
          </div>
          <div class="col-lg-4">
            <div ngbDropdown class="dropdown-nav d-inline-block">
              <button
                class="btn btn-outline-primary btn-dropdown"
                id="dropdownBasic1"
                ngbDropdownToggle
              >
                <p class="text-center my-auto tex">
                  Nombre
                </p>
              </button>
              <div
                ngbDropdownMenu
                class="dropdown-btns"
                aria-labelledby="dropdownBasic1"
              >
                <button ngbDropdownItem routerLink="./bar-chart">
                  <div class="padding">
                    <p class="text-center my-auto tex">
                      <i class="fa fa-info-circle" aria-hidden="true"></i>
                      Informacion
                    </p>
                  </div>
                </button>
                <button ngbDropdownItem routerLink="./doughnut-chart">
                  <div class="padding">
                    <p class="text-center my-auto tex">
                      <i class="fa fa-sign-out" aria-hidden="true"></i> Cerrar
                      Sesion
                    </p>
                  </div>
                </button>
                <button ngbDropdownItem routerLink="./radar-chart">
                  <div class="padding">
                    <p class="text-center my-auto tex">
                      <i class="fa fa-user" aria-hidden="true"></i>
                      Perfil
                    </p>
                  </div>
                </button>
                <button ngbDropdownItem routerLink="./pie-chart">
                  <div class="padding">
                    <p class="text-center my-auto tex">
                      <i class="fa fa-cog" aria-hidden="true"></i>
                      Configuracion
                    </p>
                  </div>
                </button>
                <div class="filler"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>

<!-- Container for sidebar(s) + page content -->
<ng-sidebar-container style="height: 100vh;">
  <!-- A sidebar -->
  <ng-sidebar [(opened)]="_opened" style="z-index: 4;">
    <app-sidebar></app-sidebar>
  </ng-sidebar>
</ng-sidebar-container>
