.container-fluid {
  background-color: var(--spectra-light-grey);
  height: 100%;
}

.container-fluid input {
  border-top-left-radius: 3em;
  border-bottom-left-radius: 3em;
  color: var(--spectra-green);
  background-color: var(--spectra-dark-grey);
  border: 3px solid;
  border-color: var(--spectra-green);
}

.container-fluid .input-group-prepend span {
  border-top-right-radius: 3em;
  border-bottom-right-radius: 3em;
  color: var(--spectra-green);
  background-color: var(--spectra-dark-grey);
  border: 3px solid;
  border-color: var(--spectra-green);
}

.container-fluid .btn-lg{
  background-color: var(--spectra-green);
  border: 3px solid;
  border-color: white;
  border-radius: 3em;
  color: white;
  font-size: 0.8em;
}
