<div class="container-fluid my-auto">
  <div class="container">
    <div class="row">
      <div class="col-lg-10">
        <div class="input-group mb-3">
          <input
            type="text"
            class="form-control"
            placeholder="Username"
            aria-label="Username"
            aria-describedby="basic-addon1"
          />
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">
              <i class="fa fa-search" aria-hidden="true"></i>
            </span>
          </div>
        </div>
      </div>
      <div class="col-lg-2">
        <button
          class="btn btn-lg"
          (click)="open(contact)"
        >
          <i class="fa fa-user-plus" aria-hidden="true"></i>
        </button>
      </div>
    </div>
  </div>
</div>
