.container-login{
    background-color: var(--spectra-grey);
}

.container-login img{
    max-width: 100%;
    height: auto;
}

.container-logo{
    min-height: 10em;
}

.container-card{
    background-image: url("src/assets/img/UI_spectraAPP_login_bg.png");
    max-width: 100%;
    min-height: 20em;
    height: auto;
    box-shadow: 0.0em 0.5em 0.5em 0.0em rgba(0, 0, 0, 0.15);
}

.container-card .row-input{
    margin-top: 3em;
    margin-bottom: 3em;
}

.container-card form input{
    background-color: var(--spectra-dark-grey);
    border: 2px solid; 
    height: 3em;
    color: var(--spectra-green);
    font-family: 'tex';
}

.container-card .input-group-text{
    background-color: var(--spectra-green);
    color: white;
    border: 0px;
    font-size: 2em;
    padding-left: 0.5em;
    padding-right: 0.5em;
}

.container-card .row-buttons button{
    font-family: 'tex';
    transform: skew(-21deg);
    border-top-right-radius: 3em;
    border-bottom-right-radius: 2em;
    border-top-left-radius: 0.5em;
    border-bottom-left-radius: 1.5em;
    min-width: 7em;
    background-color: var(--spectra-grey);
    color: white;
}

.container-card .row-buttons button:hover{
    background-color: var(--spectra-green);
}

.container-card .row-buttons button h5{
    transform: skew(21deg);
}