.bg {
  background-image: url("src/assets/img/UI_spectraAPP_login_bg.png");
  color: rgba(65, 65, 65, 0.596);
  max-width: 100%;
  min-height: 100%;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding: 10px;
  display : flex;
  align-items : center;
  justify-content: center;
  vertical-align: middle;
}

.bg .row{
  width: 30%;
}

form .form-group{
  margin-top: 2.5em;
  margin-bottom: 2.5em;
}

form .input-group{
  border: 3px solid;
  border-color: #2bbd7e;
  border-radius: 0.5em;
}

form .form-control{
  background-color: rgb(44, 44, 53);
  border: none;
}

form .input-group-prepend .input-group-text{
  background-color: #2bbd7e;
  color: white;
  border: none;
  width: 2.75em;
  max-width: 2.75em;
  height: 3em;
  max-height: 3em;
}

form .form-control{
  height: 3em;
  max-height: 3em;
}

form .input-group-prepend .input-group-text i{
  font-size: 1.5em;
}
