<!-- Banner superior -->
<div class="container-fluid">
  <div class="row row_logo">
    <div class="col-3"></div>
    <div class="col-6 text-center">
      <img class="logo_img" src="assets/img/UI_spectraAPP_LOGO_SPECTRA.png" alt="logo_spectra">
    </div>
    <div class="col-3"></div>
  </div>
</div>
<!-- /Banner superior -->



<div class="bg align-middle">
  <!--
    
  --><div class="row">
    <div class="col-12">
      <form>
        <div class="form-group">
          <div class="input-group mb-2">
            <div class="input-group-prepend">
              <div class="input-group-text"><i class="fa fa-user"></i></div>
            </div>
            <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="Usuario">
          </div>
        </div>
        <div class="form-group">
          <div class="input-group mb-2">
            <div class="input-group-prepend">
              <div class="input-group-text"><i class="fa fa-lock"></i></div>
            </div>
            <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="Contraseña">
          </div>
        </div>
        <div class="form-group">
          <div class="d-flex justify-content-end">              
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#alertModal">
              Launch Modal
            </button>
            <input class="submit-btn" src="assets/img/UI_spectraAPP_btn_menu.png" type="image" routerlink="/dashboard.html">
          </div>
          <alert-modal></alert-modal>
        </div>
      </form>
    </div>
  </div>
</div>
