<div class="modal-body">
  <!--
  <div class="modal-header">
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    >
      <i
        class="fa fa-times-circle-o"
        aria-hidden="true"
        style="color: white;"
      ></i>
    </button>
  </div>
-->
  <div class=" row btn-control">
    <div class="col-lg-12 text-center btn-icon">
      <h4 class="icon">
        <i class="fa fa-play-circle-o" aria-hidden="true"></i>
      </h4>
    </div>
    <div class="col-lg-12 btn-text">
      <div class="row first-row">
        <div class="col-lg-12">
          <h4><b>Titulo</b></h4>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <h5>Segundo</h5>
        </div>
      </div>
    </div>
  </div>
</div>
