<div class="row h-25 test-red">
  <div class="col-lg-7 col-profile-picture test-blue h-100 text-center my-auto">
    <div class="profile-picture default--cover">
      <i class="fa fa-user i-user" aria-hidden="true"></i>
      <a class="mc-btn-action">
        <i class="fa fa-camera" aria-hidden="true" style="color: white;"></i>
      </a>
    </div>
  </div>
  <div class="col-lg-5 col-privileges test-yellow h-100">
    <form class="h-100">
      <div class="row h-25 test-crimson">
        <div class="col-lg-12 text-center my-auto">
          <h4 class="tex">Perfil</h4>
        </div>
      </div>
      <div class="row h-75 test-white">
        <div class="col-lg-12 text-left my-auto">
          <div class="form-check">
            <input
              class="form-check-input"
              type="radio"
              name="exampleRadios"
              id="exampleRadios1"
              value="option1"
              checked
            />
            <label class="form-check-label" for="exampleRadios1">
              Default radio
            </label>
          </div>
          <div class="form-check">
            <input
              class="form-check-input"
              type="radio"
              name="exampleRadios"
              id="exampleRadios2"
              value="option2"
            />
            <label class="form-check-label" for="exampleRadios2">
              Second default radio
            </label>
          </div>
          <div class="form-check">
            <input
              class="form-check-input"
              type="radio"
              name="exampleRadios"
              id="exampleRadios2"
              value="option2"
            />
            <label class="form-check-label" for="exampleRadios2">
              Second default radio
            </label>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
<div class="row h-75 test-purple">
  <div class="row h-20 w-100 test-red"></div>
  <div class="row h-20 w-100 test-red"></div>
  <div class="row h-20 w-100 test-red"></div>
  <div class="row h-20 w-100 test-red"></div>
  <div class="row h-20 w-100 test-red"></div>
</div>
