<div class="row test-red">
  <div class="col-lg-7 col-profile-picture h-100 text-center test-blue my-auto">
    <div class="profile-picture default--cover">
      <i class="fa fa-user i-user" aria-hidden="true"></i>
      <a class="mc-btn-action">
        <i class="fa fa-camera" aria-hidden="true" style="color: white;"></i>
      </a>
    </div>
  </div>
  <div class="col-lg-5 col-privileges h-100 test-blue">
    <form>
      <div class="test-crimson">
        <div class="row test-white"></div>
        <div class="row test-white"></div>
        <div class="row test-white"></div>
        <div class="row test-white"></div>
      </div>
    </form>
  </div>
</div>
<div class="row test-green" style="flex: 1 1 auto;"></div>
