.col-profile-picture {
  min-height: 100%;
}

.col-privileges {
  min-height: 100% !important;
}

.profile-picture {
  display: inline-block;
  position: relative;
}

.default--cover {
  width: 9em;
  height: 9em;
  border-radius: 50%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center right;
  object-position: center right;
  border: 2px solid;
  border-color: white;
  background-color: var(--spectra-green);
  color: white;
  line-height: 11em;
}

.image--cover {
  position: relative;
  bottom: 1.31em;
  right: 3px;
  width: 9em;
  height: 9em;
  border-radius: 50%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center right;
  object-position: center right;
  border: 2px solid;
  border-color: white;
  background-color: var(--spectra-green);
  color: white;
  line-height: 11em;
}

.default--cover .i-user {
  font-size: 5em;
}

input[type=file] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}

.mc-btn-action {
  position: absolute;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  width: 54px;
  height: 54px;
  top: 6em;
  right: 0.5em;
  line-height: 3em;
  text-align: center;
  background-color: var(--spectra-green);
  color: #fff;
  cursor: pointer;
  z-index: 0;
  border: 2px solid;
  border-color: white;
}

.row-data{
  height: 35em;
}

.row-data input {
  height: 3em;
  background-color: var(--spectra-dark-grey);
  border-color: var(--spectra-green);
  border: 2px solid;
  color: var(--spectra-green);
  font-family: "tex";
}
