<div class="row row-user">
  <div class="col-lg-5 col-profile-picture text-center my-auto">
    <div class="profile-picture default--cover">
      <i *ngIf="!imgUploaded" class="fa fa-user i-user" aria-hidden="true"></i>
      <img *ngIf="imgUploaded" class="image--cover" [src]="imgURL" alt="" />
      <a class="mc-btn-action">
        <input
          #file
          type="file"
          accept="image/*"
          (change)="preview(file.files)"
        />
        <i class="fa fa-camera" aria-hidden="true" style="color: white;"></i>
      </a>
    </div>
  </div>
  <div class="col-lg-5 my-auto col-privileges h-100">
    <div class="h-100">
      <div class="row h-25">
        <div class="col-lg-12 my-auto">
          <h4 class="tex">Perfil</h4>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12 text-left my-auto">
          <div class="form-check">
            <input
              class="form-check-input"
              type="radio"
              name="exampleRadios"
              id="exampleRadios1"
              value="option1"
              checked
            />
            <label class="form-check-label tex" for="exampleRadios1">
              Usuario
            </label>
          </div>
          <div class="form-check">
            <input
              class="form-check-input"
              type="radio"
              name="exampleRadios"
              id="exampleRadios2"
              value="option2"
            />
            <label class="form-check-label tex" for="exampleRadios2">
              Profesor
            </label>
          </div>
          <!-- 

            <div class="form-check">
              <input
                class="form-check-input"
                type="radio"
                name="exampleRadios"
                id="exampleRadios2"
                value="option2"
              />
              <label class="form-check-label tex" for="exampleRadios2">
                Administrador
              </label>
            </div>

          -->
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-2"></div>
</div>
<div class="row row-data">
  <div class="col-lg-12 my-auto">
    <input
      [(ngModel)]="inputUsername"
      (change)="updateValues()"
      type="text"
      class="form-control"
      placeholder="Nombre y apellido"
    />
  </div>
  <div class="col-lg-12 my-auto">
    <input
      [(ngModel)]="inputId"
      ng-change="updateValues()"
      type="text"
      class="form-control"
      placeholder="Cedula de ciudadania"
    />
  </div>
  <div class="col-lg-12 my-auto">
    <input
      [(ngModel)]="inputMail"
      ng-change="updateValues()"
      type="text"
      class="form-control"
      placeholder="Correo"
    />
  </div>
  <div class="col-lg-12 my-auto">
    <input
      [(ngModel)]="inputPhone"
      ng-change="updateValues()"
      type="text"
      class="form-control"
      placeholder="Celular"
    />
  </div>
  <div class="col-lg-12 my-auto">
    <input
      [(ngModel)]="inputCompany"
      ng-change="updateValues()"
      type="text"
      class="form-control"
      placeholder="Empresa"
    />
  </div>
  <div class="col-lg-12 my-auto">
    <input
      [(ngModel)]="inputJob"
      ng-change="updateValues()"
      type="text"
      class="form-control"
      placeholder="Cargo"
    />
  </div>
</div>
