<div class="modal fade" id="alertModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container-fluid" id="cont_modal_body">
          <div class="row">
            <div class="col-12 text-center">
              <img class="alert_modal_icon" src="assets/img/UI_spectraAPP_ico_warning_sign.png" alt="warning_logo">
            </div>
          </div>
          <div class="row">
            <div class="col-12 text-center">
              <h5 class="alert_modal_headline">{{alert_modal_headline}}</h5>
            </div>
          </div>
          <div class="row">
            <div class="col-4"></div>
            <div class="col-4">
              <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
            </div>
            <div class="col-4"></div>
          </div>
          <div class="row">
              <div class="col-4"></div>
              <div class="col-4">
                <div class="d-flex justify-content-end">
                  <input class="submit-btn" src="assets/img/UI_spectraAPP_btn_menu.png" type="image" alt="Submit">
                </div>
              </div>
              <div class="col-4"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
