<div class="container-flex">
  <app-navbar></app-navbar>
</div>

<div class="row row-all">
  <div class="col-lg-2" style="max-height: 94vh;">
    <div class="row row-simulators" style="overflow-y: auto;">
      <div class="col-lg-12 col-simulators">
        <app-list-simulators></app-list-simulators>
      </div>
    </div>
    <div class="row row-contacts" style="overflow-y: auto;">
      <div class="col-lg-12 col-contacts">
        <app-list-contacts></app-list-contacts>
      </div>
    </div>
  </div>
  <div class="col-lg-10">
    <div class="row">
      <div class="col-lg-4 col_contact_info">
        <app-contact-panel></app-contact-panel>
      </div>
      <div class="col-lg-8 my-auto">
        <router-outlet></router-outlet>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6 my-auto">
        <app-message-panel></app-message-panel>
      </div>
      <div class="col-lg-6 my-auto">
        <app-doughnut-chart></app-doughnut-chart>
      </div>
    </div>
  </div>
</div>
