<div class="container-fluid">
  <div class="row">
    <div class="col-lg-2"></div>
    <div style="border-right: 2px solid; border-color: var(--spectra-green);" class="col-lg-5">
      <app-contact-panel></app-contact-panel>
    </div>
    <div class="col-lg-5 my-auto">
      <router-outlet></router-outlet>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-2"></div>
    <div class="col-lg-6 my-auto">
      <app-message-panel></app-message-panel>
    </div>
    <div class="col-lg-4 my-auto">
      <app-doughnut-chart></app-doughnut-chart>      
    </div>
  </div>
</div>
