.container-all{
  background-color: var(--spectra-grey);
}

.row-nav{
  height: 6%;
}

.row-dash{
  height: 94%;
  background-color: var(--spectra-grey);
}

.row-dash-upper{
  height: 65%;
}

.row-dash-upper .col-contacts{
  border-right: 2px solid;
  border-color: var(--spectra-green);
}

.row-dash-lower{
  height: 35%;
}

.row-add{
  min-height: 94vh;
}

.row-add div{
  background-color: var(--spectra-grey);
}