<div class="container-flex">
  <app-navbar></app-navbar>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-lg-2 col-simulators">
      <app-list-simulators></app-list-simulators>
    </div>
    <div class="col-lg-5 col_contact_info">
      <app-contact-panel></app-contact-panel>
    </div>
    <div class="col-lg-5 my-auto">
      <router-outlet></router-outlet>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-2">
      <app-list-simulators></app-list-simulators>
    </div>
    <div class="col-lg-6 my-auto">
      <app-message-panel></app-message-panel>
    </div>
    <div class="col-lg-4 my-auto">
      <app-doughnut-chart></app-doughnut-chart>      
    </div>
  </div>
</div>
