.row-all {
  margin: 0;
  background-color: var(--spectra-grey);
}

.row-all .col-lg-2 .col-simulators,
.row-all .col-lg-2 .col-contacts{
  padding: 0;
}


.row-all .col-lg-2 .row-simulators{
  overflow-y: auto;
}

.row-all .col-lg-2 .row-search{
}

.row-all .col-lg-2 .row-search .col-search{
  padding: 0;
}

.row-all .col-lg-2 .row-contacts{
  overflow-y: auto;
}

.col-lg-2{
  padding: 0;
}

.col_contact_info {
  border-right: 2px solid;
  border-color: var(--spectra-green);
}

