/*Imports */
@import "~bootstrap/dist/css/bootstrap.css";
@import "~font-awesome/css/font-awesome.css";

@font-face {
  font-family: tex;
  src: url(assets/fonts/texgyreadventor-regular.otf);
}

@font-face {
  font-family: tex-bold;
  src: url(assets/fonts/texgyreadventor-bold.otf);
}

@font-face {
  font-family: tex-italic;
  src: url(assets/fonts/texgyreadventor-italic.otf);
}

@font-face {
  font-family: tex-bolditalic;
  src: url(assets/fonts/texgyreadventor-bolditalic.otf);
}

:root {
  --spectra-light-grey: #3b4554;
  --spectra-grey: #2d3646;
  --spectra-dark-grey: #1a2538;
  --spectra-green: #40b987;
}

.test-purple {
  border: 2px solid;
  border-color: purple;
}

.test-green {
  border: 2px solid;
  border-color: green;
}

.test-blue {
  border: 2px solid;
  border-color: blue;
}

.test-red {
  border: 2px solid;
  border-color: red;
}

.test-crimson {
  border: 2px solid;
  border-color: crimson;
}

.test-yellow {
  border: 2px solid;
  border-color: yellow;
}

.test-white {
  border: 2px solid;
  border-color: white;
}

.test-orange {
  border: 2px solid;
  border-color: orange;
}

.test-silver {
  border-color: 2px solid;
  border-color: silver;
}

body {
  background-color: var(--spectra-grey);
}

html,
body,
#fullheight {
  min-height: 100% !important;
  height: 100%;
}

#fullheight {
  width: 100%;
}

.chart {
  display: block;
}

canvas {
  width: 80% !important;
  height: 80% !important;
  padding: 0;
  margin: auto;
  display: block;
}

.tex {
  font-family: "tex";
  color: white;
}

.tex-bold {
  font-family: "tex-bold";
  color: white;
}

.tex-italic {
  font-family: "tex-italic";
  color: white;
}

.tex-bold-italic {
  font-family: "tex-bolditalic";
  color: white;
}

/* scroll */

.scroll {
  border: 1px solid grey;
  overflow: scroll;
  display: inline-block;
}
.scroll-width-auto {
  scrollbar-width: auto;
}
.scroll-width-thin {
  scrollbar-width: thin;
}
.scroll-width-none {
  scrollbar-width: none;
}


/* slider toggle */

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--spectra-grey);
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: var(--spectra-green);
}

input:focus + .slider {
  box-shadow: 0 0 1px var(--spectra-green);
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
