<div class="container-flex">
  <div class="container container-list">
    <div class="row row-simulator" *ngFor="let contact of contacts">
      <div class="col-lg-12" (click)="selectContact(contact)">
        <div class="container-button">
          <img
            src={{contact.photoUrl}}
            class="image--cover"
            style="background-color: var(--spectra-green);"
          />
          <button
            type="button"
            class="btn btn-primary btn-spectra waves-effect"
          >
            <div class="row">
              <div class="col-lg-12">
                <p class="tex-bold">{{contact.name}}</p>
              </div>
              <div class="col-lg-12">
                <p class="tex">{{contact.phone}}</p>
              </div>
            </div>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
