<div class="container-flex">
  <div class="container container-list">
    <div class="row row-simulator">
      <div class="col-lg-12">
        <div class="container-button">
          <img
            src="https://i.kinja-img.com/gawker-media/image/upload/gd8ljenaeahpn0wslmlz.jpg"
            class="image--cover"
          />
          <button
            type="button"
            class="btn btn-primary btn-spectra waves-effect"
          >
            <div class="row">
              <div class="col-lg-12">
                <p class="tex-bold">Nombre</p>
              </div>
              <div class="col-lg-12">
                <p class="tex">Telefono</p>
              </div>
            </div>
          </button>
        </div>
      </div>
    </div>
    <div class="row row-simulator">
      <div class="col-lg-12">
        <div class="container-button">
          <img
            src="https://i.kinja-img.com/gawker-media/image/upload/gd8ljenaeahpn0wslmlz.jpg"
            class="image--cover"
          />
          <button
            type="button"
            class="btn btn-primary btn-spectra waves-effect"
          >
            <div class="row">
              <div class="col-lg-12">
                <p class="tex-bold">Nombre</p>
              </div>
              <div class="col-lg-12">
                <p class="tex">Telefono</p>
              </div>
            </div>
          </button>
        </div>
      </div>
    </div>
    <div class="row row-simulator">
      <div class="col-lg-12">
        <div class="container-button">
          <img
            src="https://i.kinja-img.com/gawker-media/image/upload/gd8ljenaeahpn0wslmlz.jpg"
            class="image--cover"
          />
          <button
            type="button"
            class="btn btn-primary btn-spectra waves-effect"
          >
            <div class="row">
              <div class="col-lg-12">
                <p class="tex-bold">Nombre</p>
              </div>
              <div class="col-lg-12">
                <p class="tex">Telefono</p>
              </div>
            </div>
          </button>
        </div>
      </div>
    </div>
    <div class="row row-simulator">
      <div class="col-lg-12">
        <div class="container-button">
          <img
            src="https://i.kinja-img.com/gawker-media/image/upload/gd8ljenaeahpn0wslmlz.jpg"
            class="image--cover"
          />
          <button
            type="button"
            class="btn btn-primary btn-spectra waves-effect"
          >
            <div class="row">
              <div class="col-lg-12">
                <p class="tex-bold">Nombre</p>
              </div>
              <div class="col-lg-12">
                <p class="tex">Telefono</p>
              </div>
            </div>
          </button>
        </div>
      </div>
    </div>
    <div class="row row-simulator">
      <div class="col-lg-12">
        <div class="container-button">
          <img
            src="https://i.kinja-img.com/gawker-media/image/upload/gd8ljenaeahpn0wslmlz.jpg"
            class="image--cover"
          />
          <button
            type="button"
            class="btn btn-primary btn-spectra waves-effect"
          >
            <div class="row">
              <div class="col-lg-12">
                <p class="tex-bold">Nombre</p>
              </div>
              <div class="col-lg-12">
                <p class="tex">Telefono</p>
              </div>
            </div>
          </button>
        </div>
      </div>
    </div>
    <div class="row row-simulator">
      <div class="col-lg-12">
        <div class="container-button">
          <img
            src="https://i.kinja-img.com/gawker-media/image/upload/gd8ljenaeahpn0wslmlz.jpg"
            class="image--cover"
          />
          <button
            type="button"
            class="btn btn-primary btn-spectra waves-effect"
          >
            <div class="row">
              <div class="col-lg-12">
                <p class="tex-bold">Nombre</p>
              </div>
              <div class="col-lg-12">
                <p class="tex">Telefono</p>
              </div>
            </div>
          </button>
        </div>
      </div>
    </div>
    <div class="row row-simulator">
      <div class="col-lg-12">
        <div class="container-button">
          <img
            src="https://i.kinja-img.com/gawker-media/image/upload/gd8ljenaeahpn0wslmlz.jpg"
            class="image--cover"
          />
          <button
            type="button"
            class="btn btn-primary btn-spectra waves-effect"
          >
            <div class="row">
              <div class="col-lg-12">
                <p class="tex-bold">Nombre</p>
              </div>
              <div class="col-lg-12">
                <p class="tex">Telefono</p>
              </div>
            </div>
          </button>
        </div>
      </div>
    </div>
    <div class="row row-simulator">
      <div class="col-lg-12">
        <div class="container-button">
          <img
            src="https://i.kinja-img.com/gawker-media/image/upload/gd8ljenaeahpn0wslmlz.jpg"
            class="image--cover"
          />
          <button
            type="button"
            class="btn btn-primary btn-spectra waves-effect"
          >
            <div class="row">
              <div class="col-lg-12">
                <p class="tex-bold">Nombre</p>
              </div>
              <div class="col-lg-12">
                <p class="tex">Telefono</p>
              </div>
            </div>
          </button>
        </div>
      </div>
    </div>
    <div class="row row-simulator">
      <div class="col-lg-12">
        <div class="container-button">
          <img
            src="https://i.kinja-img.com/gawker-media/image/upload/gd8ljenaeahpn0wslmlz.jpg"
            class="image--cover"
          />
          <button
            type="button"
            class="btn btn-primary btn-spectra waves-effect"
          >
            <div class="row">
              <div class="col-lg-12">
                <p class="tex-bold">Nombre</p>
              </div>
              <div class="col-lg-12">
                <p class="tex">Telefono</p>
              </div>
            </div>
          </button>
        </div>
      </div>
    </div>
    <div class="row row-simulator">
      <div class="col-lg-12">
        <div class="container-button">
          <img
            src="https://i.kinja-img.com/gawker-media/image/upload/gd8ljenaeahpn0wslmlz.jpg"
            class="image--cover"
          />
          <button
            type="button"
            class="btn btn-primary btn-spectra waves-effect"
          >
            <div class="row">
              <div class="col-lg-12">
                <p class="tex-bold">Nombre</p>
              </div>
              <div class="col-lg-12">
                <p class="tex">Telefono</p>
              </div>
            </div>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
