<div class="col text-center">
  <div ngbDropdown class="d-inline-block">
    <button
      class="btn btn-outline-primary"
      id="dropdownBasic1"
      ngbDropdownToggle
    >
      Charts
    </button>
    <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
      <button ngbDropdownItem routerLink="./bar-chart">Bar</button>
      <button ngbDropdownItem routerLink="./doughnut-chart">Doughnut</button>
      <button ngbDropdownItem routerLink="./radar-chart">Radar</button>
      <button ngbDropdownItem routerLink="./pie-chart">Pie</button>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
