<div class="row">
  <div class="col-lg-1 my-auto col-simulator">
    <i class="fa fa-caret-right caret-simulator" aria-hidden="true"></i>
  </div>
  <div class="col-lg-1 my-auto">
    <div class="profile-picture">
      <img
        src="https://i.kinja-img.com/gawker-media/image/upload/gd8ljenaeahpn0wslmlz.jpg"
        class="image--cover"
      />
    </div>
  </div>
  <div class="col-lg-8 tex my-auto col-name-simulator">
    <h5>Nombre del simulador</h5>
  </div>
  <div class="col-lg-2 my-auto">
    <div ngbDropdown class="d-inline-block">
      <button
        class="btn btn-outline-primary"
        id="dropdowncharts"
        ngbDropdownToggle
      >
        Charts
      </button>
      <div ngbDropdownMenu aria-labelledby="dropdowncharts">
        <button ngbDropdownItem routerLink="./bar-chart">Bar</button>
        <button ngbDropdownItem routerLink="./doughnut-chart">
          Doughnut
        </button>
        <button ngbDropdownItem routerLink="./radar-chart">Radar</button>
        <button ngbDropdownItem routerLink="./pie-chart">Pie</button>
        <button ngbDropdownItem routerLink="./line-chart">Line</button>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-lg-12">
    <router-outlet></router-outlet>
  </div>
</div>
